<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Persistencia.Properties.Settings.GEDAVEConnectionString"
            connectionString="Data Source=DELL;Initial Catalog=GEDAVE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>