<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gedave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Gedave.Properties.Settings.GEDAVEConnectionString"
            connectionString="Data Source=Dell;Initial Catalog=GEDAVE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Gedave.Properties.Settings>
            <setting name="SetRelatorio" serializeAs="String">
                <value>C:\Users\Carlos\Documents\GitHub\GEDAVE\Gedave\Relatorios\</value>
            </setting>
        </Gedave.Properties.Settings>
    </userSettings>
</configuration>